.gameContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.frame {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 10px;
    width: 50%;
    max-width: 800px;
    box-shadow: 0 2px 20px darkgrey;
    -moz-box-shadow: 0 2px 20px darkgrey;
    -webkit-box-shadow: 0 2px 20px darkgrey;
}

.buttonGroup {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 5px 5px 10px;
    border-bottom: 1px solid var(--bs-info);
}

.contentContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.mainContentContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 5px 5px;
}

.button {
    display: flex;
    justify-content: center;
    width: 6rem;
    color: white;
}

.button:hover {
    color: white;
    box-shadow: 0 2px 20px lightgrey;
    -moz-box-shadow: 0 2px 20px lightgrey;
    -webkit-box-shadow: 0 2px 20px lightgrey;
}

@media only screen and (max-width: 1200px) {
    .frame {
        width: 60%;
    }
}

@media only screen and (max-width: 990px) {
    .frame {
        width: 70%;
    }
}

@media only screen and (max-width: 766px) {
    .frame {
        width: 80%;
    }
}

@media only screen and (max-width: 576px) {
    .frame {
        width: 90%;
    }
}

@media only screen and (max-width: 330px) {
    .frame {
        width: 95%;
    }
}