.correct {
    background-color: green !important;
    color: white;
    animation: correctAnimation 1s;
    -o-animation: correctAnimation 1s;
    -moz-animation: correctAnimation 1s;
    -webkit-animation: correctAnimation 1s;
}

.incorrect {
    background-color: var(--bs-danger) !important;
    color: white;
    animation: incorrectAnimation 400ms;
    -o-animation: incorrectAnimation 400ms;
    -moz-animation: incorrectAnimation 400ms;
    -webkit-animation: incorrectAnimation 400ms;
}

/*
Animations to show cards are correct
 */
@keyframes correctAnimation {
    0% {transform: scale(1) rotate(0deg);}
    50% {transform: scale(1.1);}
    100% {transform: scale(1) rotate(360deg);}
}

@-moz-keyframes correctAnimation {
    0% {transform: scale(1) rotate(0deg);}
    50% {transform: scale(1.1);}
    100% {transform: scale(1) rotate(360deg);}
}

@-webkit-keyframes correctAnimation {
    0% {transform: scale(1) rotate(0deg);}
    50% {transform: scale(1.1);}
    100% {transform: scale(1) rotate(360deg);}
}

/*
Animations to show cards are incorrect
 */
@keyframes incorrectAnimation {
    0% {
        transform: translateX(4px);
        -ms-transform: translateX(4px);
    }
    25% {
        transform: translateX(-4px);
        -ms-transform: translateX(-4px);
    }
    50% {
        transform: translateX(4px);
        -ms-transform: translateX(4px);
    }
    75% {
        transform: translateX(-4px);
        -ms-transform: translateX(-4px);
    }
    100% {
        transform: translateX(4px);
        -ms-transform: translateX(4px);
    }
}

@-moz-keyframes incorrectAnimation {
    0% {
        transform: translateX(4px);
        -ms-transform: translateX(4px);
    }
    25% {
        transform: translateX(-4px);
        -ms-transform: translateX(-4px);
    }
    50% {
        transform: translateX(4px);
        -ms-transform: translateX(4px);
    }
    75% {
        transform: translateX(-4px);
        -ms-transform: translateX(-4px);
    }
    100% {
        transform: translateX(4px);
        -ms-transform: translateX(4px);
    }
}

@-webkit-keyframes incorrectAnimation {
    0% {
        transform: translateX(4px);
        -ms-transform: translateX(4px);
    }
    25% {
        transform: translateX(-4px);
        -ms-transform: translateX(-4px);
    }
    50% {
        transform: translateX(4px);
        -ms-transform: translateX(4px);
    }
    75% {
        transform: translateX(-4px);
        -ms-transform: translateX(-4px);
    }
    100% {
        transform: translateX(4px);
        -ms-transform: translateX(4px);
    }
}