.card {
    background-color: var(--bs-secondary);
    width: 5rem;
    height: 5rem;
}

.scaleCardOnHover {
    animation: cardOutAnimation 100ms;
    -o-animation: cardOutAnimation 100ms;
    -moz-animation: cardOutAnimation 100ms;
    -webkit-animation: cardOutAnimation 100ms;
}

.scaleCardOnHover:hover {
    animation: cardInAnimation 100ms;
    -o-animation: cardInAnimation 100ms;
    -moz-animation: cardInAnimation 100ms;
    -webkit-animation: cardInAnimation 100ms;
    transform: scale(1.1);
}

.correct {
    background-color: green;
    color: white;
    animation: correctAnimation 1s;
    -o-animation: correctAnimation 1s;
    -moz-animation: correctAnimation 1s;
    -webkit-animation: correctAnimation 1s;
}

.incorrect {
    background-color: var(--bs-danger);
    color: white;
    animation: incorrectAnimation 400ms;
    -o-animation: incorrectAnimation 400ms;
    -moz-animation: incorrectAnimation 400ms;
    -webkit-animation: incorrectAnimation 400ms;
}

.neutral {
    background-color: grey;
    color: white;
}

.checked {
    background-color: var(--bs-info);
    color: white;
    animation: cardOutAnimation 100ms;
    -o-animation: cardOutAnimation 100ms;
    -moz-animation: cardOutAnimation 100ms;
    -webkit-animation: cardOutAnimation 100ms;
}

/*
Animations to show cards are correct
 */
@keyframes correctAnimation {
    0% {transform: scale(1) rotate(0deg);}
    50% {transform: scale(1.1);}
    100% {transform: scale(1) rotate(360deg);}
}

@-moz-keyframes correctAnimation {
    0% {transform: scale(1) rotate(0deg);}
    50% {transform: scale(1.1);}
    100% {transform: scale(1) rotate(360deg);}
}

@-webkit-keyframes correctAnimation {
    0% {transform: scale(1) rotate(0deg);}
    50% {transform: scale(1.1);}
    100% {transform: scale(1) rotate(360deg);}
}

/*
Animations to show cards are incorrect
 */
@keyframes incorrectAnimation {
    0% {
        transform: translateX(4px);
        -ms-transform: translateX(4px);
    }
    25% {
        transform: translateX(-4px);
        -ms-transform: translateX(-4px);
    }
    50% {
        transform: translateX(4px);
        -ms-transform: translateX(4px);
    }
    75% {
        transform: translateX(-4px);
        -ms-transform: translateX(-4px);
    }
    100% {
        transform: translateX(4px);
        -ms-transform: translateX(4px);
    }
}

@-moz-keyframes incorrectAnimation {
    0% {
        transform: translateX(4px);
        -ms-transform: translateX(4px);
    }
    25% {
        transform: translateX(-4px);
        -ms-transform: translateX(-4px);
    }
    50% {
        transform: translateX(4px);
        -ms-transform: translateX(4px);
    }
    75% {
        transform: translateX(-4px);
        -ms-transform: translateX(-4px);
    }
    100% {
        transform: translateX(4px);
        -ms-transform: translateX(4px);
    }
}

@-webkit-keyframes incorrectAnimation {
    0% {
        transform: translateX(4px);
        -ms-transform: translateX(4px);
    }
    25% {
        transform: translateX(-4px);
        -ms-transform: translateX(-4px);
    }
    50% {
        transform: translateX(4px);
        -ms-transform: translateX(4px);
    }
    75% {
        transform: translateX(-4px);
        -ms-transform: translateX(-4px);
    }
    100% {
        transform: translateX(4px);
        -ms-transform: translateX(4px);
    }
}

/*
Animations to make pexeso cards bigger or smaller
 */
@keyframes cardInAnimation {
    from {transform: scale(1);}
    to {transform: scale(1.1);}
}

@-moz-keyframes cardInAnimation {
    from {transform: scale(1);}
    to {transform: scale(1.1);}
}

@-webkit-keyframes cardInAnimation {
    from {transform: scale(1);}
    to {transform: scale(1.1);}
}

@keyframes cardOutAnimation {
    from {transform: scale(1.1);}
    to {transform: scale(1);}
}

@-moz-keyframes cardOutAnimation {
    from {transform: scale(1.1);}
    to {transform: scale(1);}
}

@-webkit-keyframes cardOutAnimation {
    from {transform: scale(1.1);}
    to {transform: scale(1);}
}