.card {
    background-color: var(--bs-secondary);
    width: 5rem;
    height: 5rem;
}

.scaleCardOnHover {
    animation: cardOutAnimation 100ms;
    -o-animation: cardOutAnimation 100ms;
    -moz-animation: cardOutAnimation 100ms;
    -webkit-animation: cardOutAnimation 100ms;
}

.scaleCardOnHover:hover {
    animation: cardInAnimation 100ms;
    -o-animation: cardInAnimation 100ms;
    -moz-animation: cardInAnimation 100ms;
    -webkit-animation: cardInAnimation 100ms;
    transform: scale(1.1);
}

.neutral {
    background-color: grey;
    color: white;
}

.checked {
    background-color: var(--bs-info);
    color: white;
    animation: cardOutAnimation 300ms;
    -o-animation: cardOutAnimation 300ms;
    -moz-animation: cardOutAnimation 300ms;
    -webkit-animation: cardOutAnimation 300ms;
}

/*
Animations to make pexeso cards bigger or smaller
 */
@keyframes cardInAnimation {
    from {transform: scale(1);}
    to {transform: scale(1.1);}
}

@-moz-keyframes cardInAnimation {
    from {transform: scale(1);}
    to {transform: scale(1.1);}
}

@-webkit-keyframes cardInAnimation {
    from {transform: scale(1);}
    to {transform: scale(1.1);}
}

@keyframes cardOutAnimation {
    from {transform: scale(1.1);}
    to {transform: scale(1);}
}

@-moz-keyframes cardOutAnimation {
    from {transform: scale(1.1);}
    to {transform: scale(1);}
}

@-webkit-keyframes cardOutAnimation {
    from {transform: scale(1.1);}
    to {transform: scale(1);}
}