.checkedButton {
    border: unset !important;
}

.checkedButton:hover {
    border: unset !important;
}

.button {
    font-size: 26px;
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    padding-top: 11px;
    -webkit-padding-before: 11px;
    padding-bottom: 11px;
    -webkit-padding-after: 11px;
}

.button:hover {
    color: white !important;
}